.payment {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
  padding: 92px 0 97px;
  position: relative;
}

.app__body {
  display: flex;
  background-color: #ededed;

  height: 87vh;
  width: 100vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
