.Over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  margin: 0;
}
/* body {
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
  background: #ccc;
} */

.single-product-wrap {
  /* box-shadow: 0px 5px 17px -7px rgba(0.1, 0, 0, 0.75); */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  transition: 0.3s;
}

img.product__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.status__main {
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  margin-top: 11px;
  left: auto;
  bottom: auto;
}

.single-product-wrap {
  border-radius: 4px;
}

.property__details {
  font-family: system-ui, sans-serif;
  display: flex;
  align-items: baseline;
  text-transform: uppercase;
}

.details__bed__bath {
  text-transform: uppercase;
  font-weight: 700;
  color: #718096;
  margin-left: 10px;
  letter-spacing: 0.1em;
  font-size: 0.75rem;
}

.badge__status {
  /* color: #fff; */
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
}
.badge__status_update {
  /* color: #fff; */
  font-size: 11px;
  font-weight: bold;
  color: #1e55ad;
  line-height: 11px;
}

.purple {
  background-color: #d6bcfa;
  padding: 1px 4px;
  border-radius: 2px;
  color: #6b46c1;
}

.red {
  background-color: #fed7d7;
  padding: 1px 4px;
  border-radius: 2px;
  color: #c53030;
}

.teal {
  background-color: #81e6d9;
  padding: 1px 4px;
  border-radius: 2px;
  color: #2c7a7b;
}

/* Begin: Listing Type Status */
/* listing status for sale */
.listing__type__sale {
  margin-right: 7px;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #272931;
  color: #ffffff;
}

/* listing status for rent */
.listing__type__rent {
  margin-right: 7px;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #37c1f2;
  color: #ffffff;
}
/* End: Listing Type Status */

.property__tilte {
  margin-top: 6px;
}

.viewed {
  margin-left: 4px;
  font-size: 15px;
  color: #4a5568;
}

.price__of__property {
  color: #4a5568;
  font-size: 0.75rem;
}

.property__card__bottom {
  display: flex;
  justify-content: space-between;
}

.property__icons {
  display: flex;
  align-items: center;
}

.icons__box {
  background-color: #edf2f7;
  margin: auto;
  height: 35px;
  width: 35px;
  padding: 5px;
  border-radius: 35px;
  margin-left: 5px;
}
.icons__box:hover {
  background-color: #cbd5e0;
}

.icon {
  bottom: 0;
  top: 0;
  margin-left: 5px;
}
svg:not(:root) {
  margin-bottom: 5px;
}
